.header,
.sign,
.signWrap {
  width: 960px;
  margin: 0 auto; }

body,
html {
  height: 100%; }

.logo {
  float: left; }

.logo_right {
  float: right;
  padding-top: 35px; }

.logo_right img {
  float: left;
  margin-right: 24px; }

.signWrap {
  margin-top: 120px;
  position: relative; }

.signPic {
  height: 460px; }

.loginBox {
  width: 310px;
  min-height: 400px;
  border: solid 1px #d7d7dd;
  position: absolute;
  top: -80px;
  right: 0;
  padding: 0 23px;
  padding-bottom: 30px; }

.loginBox .show_l {
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
  background: url(../img/shadow.jpg) no-repeat center;
  left: -9px; }

.loginBox .show_r {
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
  background: url(../img/shadow.jpg) no-repeat center;
  right: -9px;
  transform: scaleX(-1); }

.loginTit {
  line-height: 60px;
  margin-bottom: 15px; }

.loginTit h1 {
  font-size: 20px;
  float: left;
  color: #e31256;
  font-weight: bold; }

.loginTit p {
  float: right; }

.loginTit p a {
  color: #e31256; }

.loginTit p a:hover {
  text-decoration: underline; }

.forms div {
  width: 310px;
  height: 44px;
  margin-bottom: 28px; }

.forms div input {
  border: solid 1px #cfcfcf;
  width: 284px;
  padding: 10px 8px;
  font-size: 14px;
  height: 24px; }

.footer {
  position: absolute;
  bottom: -1px;
  width: 100%; }

.footer_con {
  width: 1090px;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #000000;
  line-height: 23px;
  font-size: 12px; }

.forms .sub input {
  width: 310px;
  height: 40px;
  background: #F8296D;
  color: #fff;
  font-weight: bold;
  border: 0; }

.forms .message input:nth-of-type(2) {
  width: 114px;
  float: right;
  margin-right: 8px;
  height: 44px;
  background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
  font-size: 12px;
  font-weight: 700;
  color: #666;
  margin-bottom: 0; }

.xieYi {
  margin: 10px 0; }

.xieYi p a {
  float: left;
  color: #ed145b;
  margin-right: 30px; }

.xieYi p a:hover {
  text-decoration: underline; }

.footer_tit {
  text-align: center;
  padding: 14px 0 18px; }

.footer_tit a:hover {
  text-decoration: underline; }

.footer_img {
  display: flex;
  justify-content: center; }

.footerImg1 {
  width: 126px;
  height: 51px;
  float: left;
  background: url(../img/footerlogo.jpg) no-repeat 0;
  margin: 0 8px 0 4px;
  border-bottom: solid 1px #d7d7dd; }

.footerImg2 {
  width: 126px;
  height: 51px;
  background: url(../img/footerlogo.jpg) no-repeat -126px;
  float: left;
  margin: 0 8px 0 4px;
  border-bottom: solid 1px #d7d7dd; }

.footerImg3 {
  width: 126px;
  height: 51px;
  background: url(../img/footerlogo.jpg) no-repeat -252px;
  float: left;
  margin: 0 8px 0 4px;
  border-bottom: solid 1px #d7d7dd; }

.footerImg4 {
  width: 126px;
  height: 51px;
  background: url(../img/footerlogo.jpg) no-repeat -378px;
  float: left;
  margin: 0 8px 0 4px;
  border-bottom: solid 1px #d7d7dd; }

.footerImg5 {
  width: 126px;
  height: 51px;
  background: url(../img/footerlogo.jpg) no-repeat -504px;
  float: left;
  margin: 0 8px 0 4px;
  border-bottom: solid 1px #d7d7dd; }

.warm {
  margin-top: 5px;
  color: #999999;
  display: none; }

.message .warm,
.message .cuo {
  position: absolute;
  left: 22px;
  top: 193px; }

.forms .cuo {
  color: #999999;
  display: none; }

.forms .cuo span {
  width: 18px;
  height: 16px;
  display: block;
  float: left;
  background: url(../img/sign.jpg) no-repeat;
  background-position: 0 -102px; }
